.viewContent {
  width: 100%;

  .nicknameContent {
    display: flex;
    padding: 40px 0;
    align-items: center;

    .nickname {
      flex-grow: 1;
      margin-left: 20px
    }

    .name-input {
      flex-grow: 3;
    }
  }
}