.search-page {
  width: 100%;
  padding: 30rpx;

  .search {
    position: relative;
    margin-bottom: 20rpx;


    .input-class {
      border: 2rpx solid var(--borderColor);
      border-radius: 1998rpx;
      padding: 20rpx;
      height: 1.2rem;
      min-height: 1.2rem;
    }

    .icon-class {
      position: absolute;
      top: 50%;
      left: 86%;
      transform: translateY(-50%);
      z-index: 2;
    }
  }

  .main {
    .hot-details {
      display: flex;
      flex-wrap: wrap;

      .item {
        padding: 4rpx 20rpx;
        border: 2rpx solid var(--unifiedGreen);
        margin-right: 20rpx;
        border-radius: 20rpx;
        margin-top: 16rpx;
        font-size: 28rpx;
      }
    }

    .histroy {
      margin-top: 30rpx;

      .title {
        padding: 10rpx 0;
      }

      .histroy-wrapper {
        max-height: 800rpx;

        .item {
          display: flex;
          padding: 20rpx 0;

          .txt {
            flex: 1;
            text-indent: 40rpx;
          }

          .x {
            flex: 0 0 30rpx;
            padding: 0 20rpx;
          }
        }
      }

      .clear {
        text-align: center;
        width: 200rpx;
        padding: 10rpx;
        margin: 0 auto;
      }
    }
  }

  .search-result-wrapper {
    height: 100%;

    .singer-wrapper {
      .item {
        height: 100rpx;
        line-height: 100rpx;
        display: flex;
        padding: 10rpx 0;

        .image {
          height: 90rpx;
          width: 90rpx;
          border-radius: 100%;
          margin-right: 30rpx;
        }
      }
    }

    .song-wrapper {
      .item {
        height: 80rpx;
        line-height: 80rpx;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

    }
  }
}