.viewContent {
  width: 100%;

  .avatar-wrapper {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    padding: 0;
    border-radius: 20%;

    .avatar {
      width: 100%;
      height: 100%;
    }
  }


  .nicknameContent {
    border-top: 1px var(--borderColor) solid;
    border-bottom: 1px var(--borderColor) solid;
    display: flex;
    padding: 18px 0;
    align-items: center;

    .nickname {
      flex-grow: 1;
      margin-left: 20px
    }

    .name-input {
      flex-grow: 3;
    }
  }
}