.list-view {
  height: 100%;

  .list-group {
    padding-bottom: 60rpx;

    .list-group-title {
      height: 60rpx;
      line-height: 60rpx;
      padding-left: 40rpx;
      font-size: 24rpx;
      background: var(--cardBackgroundColor);
    }

    .list-group-item {
      display: flex;
      align-items: center;
      padding: 20rpx 0 20rpx 40rpx;
      border-bottom: 2rpx var(--borderColor) solid;

      &:last-child {
        border-bottom: none;
      }

      .avatar {
        width: 100rpx;
        height: 100rpx;
        border-radius: 50%;
      }

      .name {
        margin-left: 40rpx;
        font-size: 28rpx;
      }
    }
  }


}

.list-shortcut {
  position: fixed;
  top: 50%;
  right: 0;
  width: 40rpx;
  padding: 40rpx 0;
  z-index: 30;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  border-radius: 40rpx;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  font-family: Helvetica;

  .item {
    padding: 6rpx;
    font-size: 24rpx;
  }

  .current {
    color: #95ec69;
  }
}