.view-class {
  .bg-image {
    height: 560rpx;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    button {
      position: absolute;
      bottom: 40rpx;
      border-radius: 200rpx;
      font-size: 28rpx;
      width: 250rpx;
    }

    .leftbutton {
      left: 40rpx;
      color: #da3231;
      border-color: #da3231;
    }

    .rightbutton {
      right: 40rpx;
      color: #58be6a;
      border-color: #58be6a;
    }


  }


  .tab {
    padding: 30rpx;

    .item {
      display: flex;
      justify-content: space-between;
      font-size: 34rpx;
      align-items: center;
      padding: 20rpx 0;

      .more {
        font-size: 54rpx;
      }
    }
  }
}