.tab {
  padding: 30rpx;

  .item {
    display: flex;
    justify-content: space-between;
    font-size: 34rpx;
    align-items: center;
    padding: 20rpx 0;

    .more {
      font-size: 54rpx;
    }
  }
}